.preview-slides ion-slide{
     display: block;
}
 
.preview-slides ion-img.hide{
  filter:blur(2px)
}
.preview-slides ion-slide{
  display: block;
  height: 100vh;
  overflow-y:scroll;
}
 
.preview-slides ion-img{
  margin:0 !important;
}