ion-chip.download-chip {
  --background: #19cc5e;
  fill-opacity: 100%;
  color: #383a3e;
  font-weight: bolder;
}

.name-chip {
  color: white;
  --background: #383a3e;
}

.saved-card > ion-card-header {
}

.saved-card > ion-card-header ion-card-title {
  font-size: 20px;
}

.saved-container-img {
  height: 160px;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
  background: rgb(0, 0, 0);
}

.saved-container-img ion-img {
  opacity: 0.8;
}

.get-full{

  color:var(--ion-color-primary)

}