.loading{
  
    padding: 40vh 20vw 0vh 20vw;
  
}

.loading>ion-progress-bar{
    
}
.loading ion-title{
    margin: auto;
}

.loading>div{
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}
.from-finie{
    position: absolute;
    bottom: 20px;
   width: 100%;
    text-align: center;
}